<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Web Site</title>
  </head>
  <body>
    {{> header}}
    <p><p>Project page text would go there</p></p>
    {{> footer}}
  </body>
</html>
